<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
</head>
<body>
<!-- Agregar esta parte al inicio del archivo para mostrar mensajes flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="messages">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h1>Welcome, {{ username }} - {{id_user}}</h1>
<h2>Your Tasks:</h2>
<ul>
    {% for task in tasks %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>

<!-- Formulario para cargar y convertir archivos -->
<form method="POST" enctype="multipart/form-data" onsubmit="startUpload()">
    <label for="file">Select a file to upload:</label>
    <input type="file" name="file" id="file" required accept=".mp4, .webm, .avi, .mpeg, .wmv">

    <label for="conversion_format">Select the destination format:</label>
    <select name="conversion_format" id="conversion_format" required>
        <option value="mp4">MP4</option>
        <option value="webm">WEBM</option>
        <option value="avi">AVI</option>
        <option value="mpeg">MPEG</option>
        <option value="wmv">WMV</option>
    </select>

    <button type="submit">Create Task Convert File</button>
</form>

<div id="progress" style="display: none;">
    <progress id="progressbar" max="100" value="0"></progress>
    <span id="progress-label">0%</span>
</div>

<!-- Agregar un enlace para descargar el archivo convertido -->
{% if converted_file_url %}
<a href="{{ converted_file_url }}" download>Download Converted File</a>
{% endif %}

<a href="/logout">Logout</a>

<script>
    function startUpload() {
        document.getElementById('progress').style.display = 'block';
        var form = document.forms[0];
        var fileInput = form.elements.file;
        var formData = new FormData(form);

        var progressBar = document.getElementById('progressbar');
        var progressLabel = document.getElementById('progress-label');

        var interval = setInterval(function () {
            if (progressBar.value < 100) {
                progressBar.value += 10;
                progressLabel.textContent = progressBar.value + '%';
            } else {
                clearInterval(interval);
                progressLabel.textContent = 'Complete';
            }
        }, 1000);

        return false;
    }
</script>
</body>
</html>
