<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
</head>
<body>
<!-- Agregar esta parte al inicio del archivo para mostrar mensajes flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="messages">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h1>Welcome, {{ username }}</h1>
<h2>Your Tasks:</h2>
<ul>
    {% for task in tasks %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>

<!-- Formulario para cargar y convertir archivos -->
<form method="POST" enctype="multipart/form-data">
    <label for="file">Select a file to upload:</label>
    <input type="file" name="file" id="file" required accept=".mp4, .webm, .avi, .mpeg, .wmv">

    <label for="conversion_format">Select the destination format:</label>
    <select name="conversion_format" id="conversion_format" required>
        <option value="mp4">MP4</option>
        <option value="webm">WEBM</option>
        <option value="avi">AVI</option>
        <option value="mpeg">MPEG</option>
        <option value="wmv">WMV</option>
    </select>

    <button type="submit">Create Task Convert File</button>
</form>

<br/>

<!-- Agregar un enlace para descargar el archivo convertido -->
{% if converted_file %}
<a href="{{ url_for('download_file', task_id=converted_task_id) }}" download>Download Converted File</a>
{% endif %}

<a href="/logout">Logout</a>

</body>
</html>
